.middle-bar__contents
  .middle-bar__contents__me
    .me
      .me__icon
        //= image_tag("material/pict/pict-reason-01.jpg", style:"width:49vw; height: 23vh;")
        %div.me__icon--tag
          ユーザーネーム
        .jus-cent
          .me__icon--tag
            評価 5   
          .me__icon--tag
            出品数 0       
      .me__tabs
        .me__tabs--news
          お知らせ
        .me__tabs--todo
          やることリスト
      .me__damy
        %li
          今日晴れ
      .me__damy
        %li
          明日は雨
      .me__damy
        %li
          明後日は曇り
      .me__show
        一覧を見る
  .middle-bar__contents__purchase
    .purchase
      .purchase__icon
        購入した商品
      .purchase__tabs   
        .purchase__tabs__trading
          取引中
        .purchase__tabs__purchase
          過去の取引
      .purchase__lists
        購入した商品はありません
    %div クレジットカード
    - if @cards
      - @cards.each do |card|
        %div
          = link_to card_path(card.id), method: :delete do
            = card.id
            削除する
    - else
      登録されていません