.mypage
  .mypage__top-bar
    = render partial: 'users/header_mypage'
  .mypage__adress
    = link_to 'FreeMarket', root_path, class:"default-font"
    > マイページ

  .mypage__middle-bar
    .middle-bar
      =render partial: 'users/middle_side_bar_mypage'
      =render partial: 'users/middle_contents_mypage'

  .mypage__bottom-bar
    =render partial: 'users/fotter_mypage'

  .mypage__sell
    出品する
    = link_to image_tag("material/icon/icon_camera.png", style: "height: 8vh; width: 5vw;"), new_product_path

 
